
<div class="col-4 bg-yellow-white">
    <ul class="list-unstyled">
        <li class="py-2">
            <div class="row">
                <div class="col-5">Đã có @Model.TongDanhGia đánh giá</div>
                <div class="col-5 float-right">
                    <input style="display:none" id="value-star_3" value="@Math.Round(Model.Diem_Reivew)"/>
                    <span>
                        <i class="fas fa-star nh-rating" id="star_3"></i>
                        <i class="fas fa-star" id="star_3"></i>
                        <i class="fas fa-star" id="star_3"></i>
                        <i class="fas fa-star" id="star_3"></i>
                        <i class="fas fa-star" id="star_3"></i>
                    </span>
                </div>
                <div class="col-2 float-right">@Model.Diem_Reivew</div>
            </div>
        </li>
        <li class="py-2">
            <div class="row">
                <div class="col-5">Tính cách nhân vật</div>
                <div class="col-5 float-right">
                    <input style="display:none" id="value-star_4" value="@Math.Round(Model.TinhCanh)" />
                    <span>
                        <i class="fas fa-star nh-rating" id="star_4"></i>
                        <i class="fas fa-star" id="star_4"></i>
                        <i class="fas fa-star" id="star_4"></i>
                        <i class="fas fa-star" id="star_4"></i>
                        <i class="fas fa-star" id="star_4"></i>
                    </span>
                </div>
                <div class="col-2 float-right">@Model.TinhCanh</div>
            </div>
        </li>
        <li class="py-2">
            <div class="row">
                <div class="col-5">Nội Dung Cốt Truyện</div>
                <div class="col-5 float-right">
                    <input style="display:none" id="value-star_5"value="@Math.Round(Model.CotTruyen)"/>
                    <span>
                        <i class="fas fa-star nh-rating" id="star_5"></i>
                        <i class="fas fa-star" id="star_5"></i>
                        <i class="fas fa-star" id="star_5"></i>
                        <i class="fas fa-star" id="star_5"></i>
                        <i class="fas fa-star" id="star_5"></i>
                    </span>
                </div>
                <div class="col-2 float-right">@Model.CotTruyen</div>
            </div>
        </li>
        <li class="py-2">
            <div class="row">
                <div class="col-5">Bố Cục Thế Giới</div>
                <div class="col-5 float-right">
                    <input style="display:none" id="value-star_6"value="@Math.Round(Model.BoCuc)"/>
                    <span>
                        <i class="fas fa-star nh-rating" id="star_6"></i>
                        <i class="fas fa-star" id="star_6"></i>
                        <i class="fas fa-star" id="star_6"></i>
                        <i class="fas fa-star" id="star_6"></i>
                        <i class="fas fa-star" id="star_6"></i>
                    </span>
                </div>
                <div class="col-2 float-right">@Model.BoCuc</div>
            </div>
        </li>
    </ul>
</div>